 

 header{
 display:inline;
 }

.btn-group .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 33.33%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: rgb(106, 90, 205);
}

body{
background-color: white;
}

img {
	opacity: 1;
    max-width: 100%;
    height: auto;
}
h1{ text-align: center;
	color: blue;
	text-decoration: none;
	
}
p{
	text-decoration: none;
}
footer {
	 border-top: 3px solid blue;
	text-decoration: none;
    background-color: white;
    text-align: center;
    color: blue;
    
    }

h2{ 
	color: blue;
	text-decoration: underline;
	
}



